/* NAVBAR */

.navigation {
  min-width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  position: relative;
}

.navigation__left,
.navigation__right {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navigation__iconMobile {
  width: 4rem;
  color: var(--black);
  display: none;
}

.close-menu {
  display: none;
  width: 4rem;
  color: var(--white);
}

.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2.4rem;
}

.navigation__link a {
  color: var(--bold-gray);
}

.navigation__link:nth-last-child(8) {
  margin-left: auto;
}

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hero__title {
  font-size: 5.6rem;
  line-height: 7.2rem;
  letter-spacing: -2.8px;
}

.hero__paragraph {
  margin: 1.6rem auto 0;
  max-width: 800px;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: -0.4px;
  color: var(--bold-gray);
}

.hero__buttons {
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

@media (max-width: 1280px) {
  .navigation {
    justify-content: space-between;
  }

  .navigation__list {
    display: none;
  }

  .active-mobile-menu {
    padding: 3.6rem 0;
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 2.4rem;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: var(--bold-purple);
    animation: smooth-appear 3s ease forwards;
  }

  .close-menu {
    display: block;
    width: 4rem;
    color: var(--white);
    position: absolute;
    top: 1.2rem;
    right: 2rem;
  }

  .navigation__list:nth-child(2) .navigation__link a {
    font-size: 2.4rem;
    color: var(--white);
  }

  .navigation__iconMobile {
    display: block;
  }

  .navigation__right{
    display: none;
  }
}
