.feature{
    display: flex;
    flex-direction: column;
    gap: 5.2rem;
    text-align: center;
}

.feature__texts{
    display: flex;
    flex-direction: column;
    gap: .8rem
}

.feature__title{
    font-size: 4.8rem;
}

.feature__paragraph{
    font-size: 1.8rem;
    width: 85rem;
    margin: 0 auto;
    color: var(--medium-gray);
}

.feature__articles{
    display: flex;
    gap: 2.4rem;
    justify-content: center;
}

.feature__card{
    padding: 4.8rem;
    border-radius: 2.4rem;
    max-width: 35.6rem;
    display: flex;
    flex-direction: column;
    text-align: start; 
    background: var(--bold-purple);
}

.card__img{
    width: 8rem;
    margin-bottom: 3.2rem;
}

.card__title{
    font-size: 2.8rem;
    margin-bottom: .4rem;
    color: var(--white);
}

.card__paragraph{
    font-size: 1.6rem;
    color: var(--light-gray-100);
}

.card__link{
    margin-top: 2.8rem;
    font-size: 1.6rem;
    gap: .8rem;
    height: 2.4rem;
    display: inline-flex;
    align-content: center;
    color: var(--white);
}