/* Screen < 1200 */
@media (max-width: 1199px) {
  /* MAIN */
  .main__layout {
    max-width: 960px;
  }

  /* POST CONTAINER */
  .main__postContainer {
    width: 387px;
  }
}

/* Screen 1024 */
@media (max-width: 1024px) {
  /* HEADER */
  .header__searchContainer {
    display: none;
  }

  .header__menu {
    margin-left: 0;
  }

  #navSearchItem {
    display: block;
  }

  .header__icon-search {
    flex: 0 0 auto;
    fill: #666666;
  }
}

/* Screen < 992 */
@media (max-width: 991px) {
  /* MAIN */
  .main__layout {
    max-width: 720px;
  }

  /* POST CONTAINER */
  .main__postContainer {
    width: 471px;
  }

  /* NEWS CONTAINER */
  .main__aside {
    display: none;
  }
}

/* Screen < 768 */
@media (max-width: 852px) {
  /* HEADER */
  .header__textLink {
    display: none;
  }

  .header__textCarret {
    display: none;
  }
}

/* Screen < 768 */
@media (max-width: 767px) {
  /* HEADER */
  .header__itemMenu:nth-child(8) {
    width: 80px;
    padding-left: 0;
    border-left: 0;
  }

  /* MAIN */
  .main__layout {
    max-width: 576px;
    justify-content: center;
  }

  /* PROFILE CONTAINER & SIDEBAR*/

  .overlay.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .main__profileContainer {
    width: 100%;
    max-width: 80%;
    height: 100dvh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--white);
    position: fixed;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
  }

  .main__profileContainer.visible {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }

  .profileResume {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 8px;
  }

  .profileResume__link:nth-child(2) {
    margin-top: 0px;
  }

  .profileResume__cover {
    display: none;
  }

  .profileResume_information {
    padding: 0 16px 25px;
  }

  .profileResume__description,
  .profileResume__ubication,
  .profileResume__workName,
  .profileAditional__link {
    font-size: 13px;
  }

  .profileAditional {
    border-radius: 0;
    border: 0;
    border-top: 1px solid #dfdeda;
    padding: 16px 0;
    margin-bottom: 8px;
  }

  .profileAditional__link {
    padding: 0 16px;
    font-weight: 400;
    gap: 4px;
    flex-direction: row-reverse;
    justify-content: start;
    color: var(--black-text-hover);
  }

  .profileAditional__number {
    font-weight: bold;
  }

  .profileAditional__widgets {
    margin-top: 16px;
    padding-top: 24px;
    border-top: 1px solid #dfdeda;
  }

  .profileAditional__linkWidget {
    padding: 0 16px;
    font-size: 20px;
  }

  .profileAditional__icon {
    display: none;
  }

  .profileConfigure {
    border-top: 1px solid #dfdeda;
    padding: 24px 0;
    display: flex;
    margin-top: auto;
  }

  .profileConfigure__icon {
    width: 24px;
  }

  .profileConfigure__link {
    font-size: 16px;
    height: 100%;
    font-weight: 600;
    color: var(--black);
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    gap: 4px;
  }

  /* POST CONTAINER */
  .main__postContainer {
    width: 471px;
  }

  .modalPost__container {
    width: 100%;
    height: 100dvh;
    margin-top: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    background: var(--white);
  }

  .modalPost__main {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  .modalPost__actions{
    margin-top: auto;
  }
}

/* Screen < 576 */
@media (max-width: 576px) {
  /* HEADER */
  .header {
    padding: 8px 6px 8px 12px;
  }

  .header__nav {
    align-items: start;
  }

  .header_logo {
    display: none;
  }

  .itemMenu__profile-mobileTop {
    margin: auto 0;
    display: block;
    padding-right: 8px;
  }

  #navSearchItem {
    display: none;
  }

  .header__searchContainer {
    display: flex;
    height: 32px;
    max-width: 100%;
    padding: 0 20px 0 8px;
  }

  .header__search[type="text"] {
    font-size: 16px;
  }

  .header__searchContainer .header__icon {
    width: 20px;
    fill: #666;
  }

  .header__menu {
    margin: auto 0;
  }

  .header__itemMenu {
    display: none;
  }

  .itemMenu__filter-mobileTop,
  .itemMenu__message-mobileTop {
    padding-left: 8px;
    width: max-content;
    display: block;
    margin-left: auto;
  }

  .main__layout {
    max-width: 960px;
    padding-top: 12px;
  }

  .feedView {
    display: none;
  }

  .postsContainer {
    padding-top: 12px;
  }
}

@media (max-width: 268px) {
  .profileAditional__linkWidget {
    font-size: 16px;
  }
}
